body {
    text-align: justify !important;
}

.header {
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    padding: 5px;
    padding-bottom: 0;
    margin: 5px;
    margin-bottom: 0;
    margin-left: 45px;

}

.newspaperInfo {

    margin-top: 35px;
}

.newspaperInfo hr {
    width: 100%;
    color: black !important;

}

.website {
    margin-right: 150px;
}



.hr {
    border-top: 1px solid black;
}

.side-header-left {
    margin-top: 20px;
    background-color: rgb(220, 220, 220);
    padding: 20px;
}

.side-header-right {
    margin-top: 20px;
    background-color: rgb(220, 220, 220);
    padding: 20px
}

.center-header {
    padding: 5px;
    margin-left: 60px
}

.borderHeader {
    font-size: 11px;
    letter-spacing: 2px;
    padding: 2px;
}

.page2Header {

    font-size: 6.7em;
    letter-spacing: 0.099em;
}

.redHeader {


    font-size: 20px;
    color: white;
}

.firstPartPage2 {
    height: 85%;
}

.headerImage {
    width: 100%;
    height: 420px
}

.paragraphSecond {
    font-size: 20px;
    color: maroon;
    text-align: center;
}

.website {
    margin-left: 0em;
}

.paraPage3 {
    text-align: center !important;
    color: darkred;
}

.imgSection2Page3 {
    width: 100%;
    height: 200px;
}

.belowHeaderLine {
    font-size: 10px;
    letter-spacing: 3px;
    padding-left: 3em;
    margin-left: 7.5em;
}

.rightHeader {

    margin-left: 4em;

}

@media (max-width: 515px) {
    .header {
        font-size: 35px;
        letter-spacing: 0px;
        text-align: center;
        margin-left: 0px;
    }

    .page2Header {

        font-size: 1.9em;
        letter-spacing: 1em;
    }

    .website {

        margin-left: 0px;
    }



    .rightHeader {

        margin-left: 0em;

    }

}

@media (max-width: 768px) {
    .header {
        position: relative;
        font-size: 55px;
        letter-spacing: 2px;
        text-align: center;
        margin-left: -1em;
    }

    .belowHeaderLine {

        margin-left: 0em;
    }



}

@media (max-width: 1024px) {
    .header {
        font-size: 55px;
        letter-spacing: 2px;
        text-align: center;
        margin-left: -1em;
    }



}